<header id="header" class="top_bar ">
  <div class="row">
    <div class="small-12 columns">
 	  
 	  <h3 class=" left  ">

        <%= link_to 'ETL Application', root_path %>
     
      </h3>
 	  
	 
 	  
    </div>
  </div>
</header>